.logo_wrap {
  cursor: pointer;
  height: 60px;
  padding: 0 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;

  .logo_wrap_img {
    width: auto;
    height: 30px;
  }

  .logo_wrap_text {
    margin-left: 10px;
    margin-top: 6px;
    font-weight: 700;
    font-size: 18px;
    color: antiquewhite;
  }
}
