// 全局混入样式

// Dashboard 控制台 - 数据详情面板 Card 组件
@mixin pd-style {
  padding: 10px 15px;
}

/* 卡片组件 Card header 样式 */
@mixin card-header {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 500;
    }
  }
}
